@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4 text-primary">
        <i class="bi bi-box-seam"></i> STOCK.NET : LA SOLUTION
    </h1>
    <p class="lead">
        POUR UNE GESTION DE STOCKS AUTOMATISÉE ET PERSONNALISABLE
    </p>
    <hr class="my-4" />

    <p class="fs-5">
    Logiciel en ligne pour piloter vos <strong>stocks</strong> 
    et <strong>ventes</strong> en toute simplicité.
    </p>


    <div class="mt-4">
        <a asp-controller="Selling" asp-action="Index" class="btn btn-warning btn-lg px-4">
            <i class="bi bi-cart-check"></i> Gérer les ventes
        </a>
        <a asp-controller="StockMouvement" asp-action="Index" class="btn btn-info btn-lg px-4">
            <i class="bi bi-archive"></i> Gérer le stock
        </a>
    </div>
</div>
